<div style="margin: 200px;">
<h1>WELCOME TO MY DASHBOARD</h1>

<% if current_user %>
<p>You are logged in</p>
<% else %>
<p>Login to continue</p>
<% end %>
<%= current_user.email %>
1 <br>
<%= current_user.name %>
2 <br>
<%= current_user.uid %>
3 <br>
<%= current_user.provider %>
4 <br>
<%= current_user.image %>
5 <br>
<%= current_user.gender %>

</div>
