<!DOCTYPE html>
<html>
  <head>
    <title>Itworks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  </head>
    <body>
      <!--========== HEADER ==========-->
        <%= render "layouts/header" %>
      <!--========== NAV ==========-->
        <%= render "layouts/leftnavbar" %>
    <%= yield %>
  </body>
</html>
