<!-- #basic user info -->
<div class="container">
  <div class="row">
    <div class="col-4">
     <!-- profile image -->
     <%= profile_picture @account, style:"width:200px;height:200px;" %>
    </div> 
    <div class="col-8 text-left">
     <div class="row">
       <div class="col-6">
          <!-- link to edit profile , if can_edit_profile? only the logged in user can edit his own profile|| custom bootstrap style-->
          <%= link_to 'Edit Profile',edit_account_registration_path, class: "btn btn-muted btn-custom float-right" if can_edit_profile?(@account.id) %>
          <h1><%= current_account.full_name %></h1>
       </div>
     </div>
      <!-- count values of post followers/following -->
      <div class="row profile-stats">
        <div class="col-4">
          <%= current_account.posts.count %>Posts
        </div>
        <div class="col-4">
          <%= current_account.total_followers %>Followers
        </div>
        <div class="col-4">
          <%= current_account.following %>Following
        </div>
      </div>
      
      <!-- insta profile bio -->
      <p><%= @account.full_name %></p>
      <!-- simple_format for multiline -->
      <p><%= simple_format @account.description %></p>
      <p><%= link_to @account.website if @account.website.present? %></p>
    </div>
  </div>
    <!-- layout for post on profile  -->
    <div class="row profile-posts">
      <% @posts.each do |post| %>
        <!-- loop posts -->
        <div class="col-4">
          <div class="insta-post">
            <%= image_tag post.image.url, class: "img img-fluid" %>
          </div>
        </div>
      <% end %>
    </div>
</div>